--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.7.1+cu126
torchvision==0.22.1+cu126
xformers==0.0.31.post1

tqdm
hydra-core
jaxtyping
einops
lpips
opencv-python==4.6.0.66
loguru
numpy==1.26.3
Pillow
scipy
scikit-image
addict
trimesh
pytorch-lightning==2.3.3
dacite==1.8.1
wandb==0.17.5
colorama==0.4.6
moviepy==1.0.3
matplotlib==3.9.1
tensorboardX==2.6.2.2
plyfile==1.0.3
kornia==0.8.0
